/* Gaya default untuk menu navigasi */
.nav-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

/* Gaya untuk tombol toggle */
#nav-toggle {
    display: none; /* Disembunyikan secara default */
}

/* Media query untuk perangkat dengan lebar max 768px (tablet dan mobile) */
@media (max-width: 768px) {
    /* Tampilkan tombol toggle */
    #nav-toggle {
        display: block;
    }

    /* Sembunyikan menu navigasi di awal */
    .nav-menu {
        display: block;
        max-height: 0;
    }
}

/* Media query untuk perangkat dengan lebar lebih dari 768px (desktop) */
@media (min-width: 769px) {
    /* Tampilkan menu navigasi secara horizontal */
    .nav-menu {
        display: flex;
        max-height: none; /* Hilangkan pembatasan tinggi */
    }
}
